@mixin aboutcolums {
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 100%;
  padding: 1em;
}

.about-page {
  display: grid;
  grid-template-rows: 1fr * 4;
  margin: 0;
  background-image: url(https://source.unsplash.com/random/?purple);
  color: white;

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .pages-api {
      grid-column: 1;
      @include aboutcolums();

      a {
        text-decoration: none;
        color: white;
      }
    }

    .what-i-learned {
      grid-column: 2;
      @include aboutcolums();
    }
  }

  .fav-lang {
    align-self: center;
    justify-self: center;
    width: 80%;
    padding: 1em;
  }
}

@media (min-width: 414px) {
  .about-page {
    width: 100vw;
    background-image: url(https://source.unsplash.com/random/?black);
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      width: 80%;
    }

    .main-content {
      width: fit-content;
      .pages-api {
      }
    }
  }
}
