.footer {
  position: absolute;
  flex-basis: auto;
  height: 77px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    cursor: pointer;
    text-shadow: -3px 0px 11px rgba(111, 95, 95, 0.6);
  }
}
