.page-content {
  cursor: default;
  height: 100vh;
  width: 100vw;
  .header-wrapper {
    button :hover {
      cursor: pointer;
    }
  }

  .product-cards {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;

    .card-content {
      height: 600px;
      width: 400px;

      a {
        text-decoration: none;
        color: black;

        img {
          position: center center;
          height: 60%;
          width: 100%;
        }
      }

      button {
        width: 120px;
        height: 40px;
        border-radius: 15px;
        border: none;
        background-color: #e879f9;
        color: white;
      }
      button :hover {
        cursor: pointer;
      }
    }

    .card-content {
      &:hover {
        box-shadow: -5px 3px 24px -1px rgba(158, 152, 152, 0.75);
        -webkit-box-shadow: -5px 3px 24px -1px rgba(158, 152, 152, 0.75);
        -moz-box-shadow: -5px 3px 24px -1px rgba(158, 152, 152, 0.75);
      }
    }
  }
}
